@use '../utils/__variables' as *;
@use '../mixins/__font-mixins' as *;
@use '../mixins/__mixins' as *;

textarea {
    field-sizing: content;
}

input:not([type]),
input[type="search"],
input[type="email"],
input[type="text"],
input[type="date"],
input[type="time"],
input[type="week"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="file"],
textarea,
select {
    @include body-font;
    appearance: none;
    margin-bottom: 0.5rem;
    display: block; width: 100%; max-width: 100%; min-height: var(--size-4); padding: 1.1rem;
    background: var(--surface-1); border-radius: $border-radius;
    border: 0; outline: 0; box-shadow: inset 0 0 0 .0625rem var(--surface-3);
    font-size: var(--font-size-1); color: var(--text-1); line-height: normal;
    transition: box-shadow 0.3s, background 0.3s;
    &:hover {
        background: var(--surface-2);
    }
    &:focus-visible {
        background: var(--surface-1);
        box-shadow:
            inset 0 0 0 .0625rem var(--brand),
            0 0 0 .25rem hsl(var(--surface-shadow) / 12%);
    }
    &[hidden],
    &[aria-hidden="true"] {
        display: none;
    }
    &[disabled] {
        background: var(--surface-3); color: var(--text-2);
        opacity: 1; cursor: not-allowed;
    }
}

select {
    appearance: menulist;
}

textarea {
    resize: vertical; line-height: 1.35;
    @include bp-min($large) {
        font-size: var(--font-size-1);
    }
}

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

input[type="checkbox"] {
    appearance: none;
    width: var(--size-5); height: var(--size-5);
    border: 0; border-radius: var(--radius-1);
    outline: 0; box-shadow: inset 0 0 0 .125rem var(--surface-4); cursor: pointer;
    &:checked {
        background: url('../assets/icons/checkbox-selected-fill.svg') no-repeat var(--surface-1);
        background-size: cover; background-position: center;
        box-shadow: inset 0 0 0 .125rem var(--brand);
    }
    &:focus-visible {
        background-color: var(--surface-1);
        box-shadow:
            inset 0 0 0 .125rem var(--brand),
            0 0 0 .25rem hsl(var(--surface-shadow) / 12%);
    }
    &:hover {
        background-color: var(--surface-2);
    }
}
input[type="checkbox"] + label {
    color: inherit;
}

label {
    margin-bottom: 0.5em; display: block;
    color: var(--text-2); line-height: normal; cursor: pointer;
    @include font-smoothing;
}

fieldset {
    margin: 0 0 1.25rem; padding: 0;
    outline: 0; border: 0;
}
fieldset > legend {
    @include h4;
    margin-bottom: 1em; padding: 0;
}

small[hidden] {
    display: none;
}
