figure {
    margin: 0;
}

img,
video,
canvas,
audio,
iframe,
embed,
object {
    display: inline-block; vertical-align: middle;
}

img,
object,
iframe,
video {
    max-width: 100%; height: auto;
}

img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

svg {
    max-width: 100%;
    &[hidden] {
        display: none;
    }
}
svg:not([data-fill="false"]) {
    fill: currentColor;
}
