@use '../mixins/__mixins' as *;
@use '../mixins/__font-mixins' as *;

p {
    margin: 0 0 1.25em;
}
p button {
    @include bare-button;
    padding: 0; color: inherit;
    text-decoration: underline;
}
p button:hover {
    text-decoration: none;
}

small {
    @include medium-text;
    display: inline-block;
}

strong {
    @include font-smoothing;
    font-weight: var(--font-weight-7);
}
