@use 'styles/_component-utils.scss' as *;

.root {
    position: relative;
}
.root > a {
    display: flex; align-items: center;
    color: $text-color-light; text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.root > a > svg {
    margin: 0 0.5rem 0 0;
    width: var(--size-4); height: var(--size-3); opacity: 0.85;
    transition: all var(--animation-duration-fast);
}
.root > a:hover > svg {
    transform: translateX(-0.25em);
}
