@use 'styles/_component-utils.scss' as *;

.textField {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  width: 100%;
}

.label {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-6);
  color: var(--text-1);
}

.description {
  font-size: var(--font-size-0);
  color: var(--text-2);
  margin-top: calc(-1 * var(--size-1));
}

.input {
  @include input-base;
  width: 100%;
  padding: var(--size-3) var(--size-4);
  font-size: var(--font-size-1);
  border: 1px solid var(--border-subtle);
  border-radius: var(--radius-2);
  background: var(--surface-1);
  color: var(--text-1);
  transition: all var(--animation-duration-fast) ease;

  &::placeholder {
    color: var(--text-secondary);
  }

  &:hover:not(:disabled) {
    border-color: var(--brand);
  }

  &:focus {
    outline-offset: 2px;
    border-color: var(--brand);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background: var(--surface-2);
  }

  &[data-invalid] {
    border-color: var(--accent-danger);
  }
}

.error {
  font-size: var(--font-size-0);
  color: var(--accent-danger);
  margin-top: calc(-1 * var(--size-1));
}

.helperText {
  font-size: var(--font-size-0);
  color: var(--text-2);
  margin-top: calc(-1 * var(--size-1));
}
