@use 'styles/_component-utils.scss' as *;

.root {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	inline-size: 100%;
	border-radius: var(--radius-2);
	padding: var(--size-3) var(--size-3);
	background-color: var(--surface-1);
	gap: var(--size-2);
	box-shadow: var(--shadow-1);
}

.root > span {
	font-size: 0.9rem;
	color: var(--text-2);
}

.root > a,
.root > button {
	padding: var(--size-1) var(--size-3);
	min-block-size: fit-content;
	font-size: 0.85rem;
	border-radius: var(--radius-1);
}

// Support type layout
.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
}

.header {
	display: flex;
	align-items: center;
	gap: var(--size-1);

	> svg {
		inline-size: 1rem;
		block-size: auto;
		fill: var(--error-color);
	}
}

.icon {
	font-size: 1rem;
}

.title {
	font-weight: var(--font-weight-6);
	color: var(--text-1);
	font-size: 0.9rem;
}

.description {
	font-size: 0.85rem;
	color: var(--text-2);
	margin: 0;
	line-height: 1.4;
}

// Priority variants
.high {
	// border-left: 3px solid var(--error-color);
	background-color: color-mix(in srgb, var(--error-color) 3%, var(--surface-1));
}

.medium {
	border-left: 3px solid var(--brand);
	background-color: color-mix(in srgb, var(--brand) 5%, var(--surface-1));
}

.low {
	border-left: 3px solid var(--brand);
	background-color: color-mix(in srgb, var(--brand) 5%, var(--surface-1));
}