@use 'styles/_component-utils.scss' as *;

.root {
    display: inline-block;
}
.root[aria-hidden="true"] {
    display: none;
}

/**
 * Loader
 */
.root__loader {
    position: relative;
    width: 1rem; height: 1rem;
    border-radius: 50%;
    animation: inline-loader 1s linear infinite;
}
.root__loader::before {
    content: "";
    position: absolute; inset: 0px;
    border: 0.175rem solid var(--brand); border-radius: 50%;
    animation: inline-loader-before 2s linear infinite;
}

@keyframes inline-loader {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes inline-loader-before {
    0%   { clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0) }
    25%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0) }
    50%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%) }
    75%  { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%) }
    100% { clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0) }
}
