.impactHeader {
  text-align: center;
  margin-bottom: var(--size-6);
}

.welcomeBack {
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
  color: var(--brand);
  margin-block: var(--size-4);
  min-inline-size: fit-content;
  max-inline-size: fit-content;
}
