@use 'styles/_component-utils.scss' as *;

.button {
  min-block-size: var(--size-9);
  min-inline-size: var(--size-9);

  &[data-disabled] {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none !important;
    box-shadow: none !important;
  }
}

// Size variants - Mobile optimized
.small {
  padding: var(--size-2) var(--size-3);
  font-size: var(--font-size-0);
  border-radius: var(--radius-1);
  min-block-size: var(--size-8);

  @include bp-min($tablet) {
    min-block-size: var(--size-7);
  }
}

.medium {
  padding: var(--size-3) var(--size-4);
  font-size: var(--font-size-1);
  min-block-size: var(--size-10);

  @include bp-min($tablet) {
    min-block-size: var(--size-9);
    padding: var(--size-3) var(--size-4);
  }
}

.large {
  padding: var(--size-4) var(--size-6);
  font-size: var(--font-size-2);
  border-radius: var(--radius-2);
  min-block-size: var(--size-11);

  @include bp-min($tablet) {
    min-block-size: var(--size-10);
  }
}

// Variant styles
.primary {
  @include button-primary;
}

.secondary {
  @include button-secondary;
}

.tertiary {
  @include button-tertiary;

  &.small {
    padding: var(--size-1) var(--size-1);
    font-size: var(--font-size-0);
  }

  &.medium {
    padding: var(--size-2) var(--size-1);
    font-size: var(--font-size-1);
  }

  &.large {
    padding: var(--size-3) var(--size-2);
    font-size: var(--font-size-2);
  }
}

// Full width modifier
.fullWidth {
  inline-size: 100%;
}

// Responsive adjustments
@include mobile {
  .button {
    &.large {
      padding: var(--size-3) var(--size-5);
      font-size: var(--font-size-1);
    }
  }
}