:root {
  font-family: var(--font-sans);
  line-height: var(--font-lineheight-3);
  font-weight: var(--font-weight-4);

  color-scheme: light dark;
  color: var(--text-1);
  background-color: var(--surface-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// #root {
// 	position: relative;
//   display: flex; flex-direction: column;
//   min-block-size: 100dvh; min-block-size: 100dvh;
// }

/* Text Selection Highlight Styles */
::selection {
  background-color: var(--brand, #F4C77B);
  color:#fff;
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--brand, #F4C77B);
  color:#fff;
  text-shadow: none;
}
