@use '../utils/__variables' as *;
@use './__mixins' as *;

/**
 * Types
 */
@mixin body-font {
    font-family: $body-font;
    font-weight: var(--font-weight-4);
}

@mixin heading-font($title: false) {
    font-family: $heading-font;
    font-weight: var(--font-weight-7);
    @if ($title) {
        font-family: $title-font;
    }
}

/**
 * Sizes
 */
@mixin small-text {
    font-size: var(--font-size-00);
    @include bp-min($small) {
        font-size: var(--font-size-0);
    }
}

@mixin medium-text {
    font-size: var(--font-size-0);
    @include bp-min($small) {
        font-size: var(--font-size-1);
    }
}

@mixin regular-text {
    font-size: var(--font-size-1);
    @include bp-min($small) {
        font-size: var(--font-size-1);
    }
}

@mixin large-text {
    font-size: var(--font-size-2);
    @include bp-min($small) {
        font-size: var(--font-size-2);
    }
}

/**
 * Headings
 */

@mixin heading-base {
    @include heading-font; @include font-smoothing;
    margin: 0 0 1em;
    line-height: 1.25;
}

@mixin h1 {
    @include heading-base; @include font-smoothing(false);
    margin-bottom: 0.5em;
    font-size: var(--font-size-5); font-weight: var(--font-weight-5); line-height: 1.15;
    @include bp-min($small) {
        font-size: var(--font-size-6);
    }
}

@mixin h2 {
    @include heading-base; @include font-smoothing(false);
    margin-bottom: 0.6em;
    font-size: var(--font-size-3); font-weight: var(--font-weight-5);
    @include bp-min($small) {
        font-size: var(--font-size-4);
    }
}

@mixin h3 {
    @include heading-base;
    margin-bottom: 0.45em;
    font-size: var(--font-size-2);
    @include bp-min($small) {
        font-size: var(--font-size-2);
    }
}

@mixin h4 {
    @include heading-base; @include ui-font;
    margin-bottom: 0.65em;
    font-size: var(--font-size-1); color: $text-color-light;
    @include bp-min($small) {
        font-size: var(--font-size-1);
    }
}

@mixin h5 {
    @include h4;
}

@mixin h6 {
    @include h4;
}
